* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background-color: #e6ebee;
  height: 100vh;
}
.container {
  height: 100%;
  width: 100%;
}
.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  color: #002c5c;
  justify-content: space-between;
  padding: 0 60px;
}
.navbar #span {
  color: #ef7b10;
}
.navbar a {
  text-decoration: none;
  list-style: none;
  color: #002c5c;
  transition: 0.5s ease-in;
}
.navbar a:hover {
  color: #ef7b10;
  font-size: 20px;
}
.navbar #article-page {
  color: #ef7b10;
  font-size: 20px;
}
.navbar p {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #34c5ce;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  display: flex;
  padding: 0 20px;
}
.article {
  display: grid;
  width: 100%;
  /* grid-template-rows: repeat(9, 30%); */
  padding: 10px 60px;
}
.article .article-1 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.article .article-1 .like-comment {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.article .article-1 .like-comment h1 {
  padding-right: 10px;
}
.single {
  text-decoration: none;
  color: inherit;
}
.article .article-1 .like-comment p {
  padding-right: 20px;
}
.picture img {
  height: 50%;
  width: 60%;
}
.article-1 .content .like-comment img {
  height: 25px;
}
.article-1 .content p {
  padding-top: 8px;
  color: black;
}
hr {
  color: #002c5c;
  font-size: 10px;
  margin-top: 10px;
}
#comment-field {
  padding-top: 10px;
}
#comment-field button {
  width: 50px;
  background-color: #002c5c;
  border-radius: 5px;
  color: white;
}
#comment-input:focus {
  height: 50px;
}
#comments {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.content a {
  text-decoration: none;
  list-style: none;
  color: #002c5c;
}
.content #p {
  cursor: pointer;
  color: black;
}
.content h1 {
  color: #002c5c;
  font-size: 25px;
  padding-top: 5px;
}
#toggle-btn,
.closing-image {
  position: absolute;
  top: 1.4rem;
  right: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 26px;
  cursor: pointer;
}

#toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: #002c5c;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .content h1 {
    font-size: 29px;
  }
}
@media (max-width: 924px) {
  .content h1 {
    font-size: 28px;
  }
  .picture img {
    height: 55%;
    width: 90%;
  }
  .navbar p {
    font-size: 35px;
  }
}
@media (max-width: 790px) {
  .content h1 {
    font-size: 23px;
  }
  .picture img {
    height: 45%;
  }
  .navbar p {
    font-size: 30px;
  }
  .nav-links {
    display: none;
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    transition: 0.5s ease-in;
  }
  .closing-image {
    display: none;
  }
  .nav-links a {
    padding-top: 30px;
    color: #ffff;
  }
  #toggle-btn {
    display: flex;
  }
}
@media (max-width: 560px) {
  .article .article-1 {
    display: flex;
    flex-direction: column;
  }
  .picture {
    display: flex;
    justify-content: center;
  }
  .picture img {
    height: 100%;
    width: 60%;
  }
  .article {
    padding: 0 60px;
  }
}
.nav-active {
  display: flex;
}
#hideToggle {
  display: none;
}
