*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    line-height: 1.6;
    width: 100%;
    height: 100vh;
}
.login-page{
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.login-page .login-text{
    background-color: #002C5C;
    width: 100%;
    height: 100%;
    display: grid;
    color: white;
}
.login-page .login-text img{
    width: 80%;
}
.login-page .login-text .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page .login-text .paragraph{
    text-align: center;
    font-size: 30px;
}
.login-page .login-form{
    display: grid;
    grid-template-rows: 8% 92%;
    height: 100%;
}
.login-page .login-form .nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page .login-form .nav ul{
    display: flex;
} 
.login-page .login-form .nav ul li{
    display: flex;
    padding: 0 20px;
    color: #002C5C;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
}
.form form{
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form h1{
    padding-bottom: 20px;
    color: #002C5C;
}
.form form input{
    margin-top: 16px;
    width: 100%;
    height: 9%;
    border: 2px;
    border-style: solid;
    border-color: #002C5C;
    border-radius: 15px;
    padding: 0 10px;
}
.form form .button{
    background: #002c5c;
    color: #fff;
}
.form form p{
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #002C5C;
}
.form form p span{
    color: #34C5CE;
}


